<p id="notice"><%= notice %></p>

<body>
  <div class="nav2">
  <ul id="Nav_Bar">
    <h2>Top Sellers</h2>
  </ul>
</div>
<div class= "container">
<div class="row" style="background-color:lavenderblush;">
    <div class="col-xs-6 col-md-4">
      <h2>Nike Air Foam Posite Pro</h2>
<%= image_tag("Nikeairfoampositepro copy.jpg")%>
    </div>
    <div class="col-xs-6 col-md-4">
      <h2>Nike Kobe 10 Elite</h2>
<%= image_tag("Nikekobe10elite copy.jpg")%>
    </div>
    <div class="col-xs-6 col-md-4">
      <h2>Chuck All-Star 2</h2>
   <%= image_tag("converseallstar2.jpg")%>
    </div>
  </div>
  </body>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Product', new_product_path %>
