<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class= "navbar navbar-default">
	<div class="container=fluid">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Shoe Palace</a>
    </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Reebok</a></li>
        <li><%= link_to "Nike", static_pages_Nike_path %></li>
        <li><a href="#">Adidas</a></li>
        <li><a href="#">Jordan</a></li>
        <li><%= link_to "Products", products_path %></li>
        </ul>
        
         <ul class="nav pull-right">
         <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                 <%= link_to('Login', new_user_session_path) %>
                <% end %>
               </li>
               </ul>
      
      <ul class="nav navbar-nav">
        <%= form_tag("/products", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
        </ul>
      </div> <!-- /.navbar-collapse --> 
</div> <!--/.container-fluid -->
</nav> 

 <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
  
  <% if alert %>
    <p id="alert" class="alert alert-warning"><%= alert %></p>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="content">
<h1>Dan's Shoe Palace</h1>
<h2>Your source for top athletic shoes.</h2>
</div>
<%= yield %>
<div class= "bottom">
<footer>
	<div class="container">
      <%= link_to "About Us", static_pages_about_path %>
      <%= link_to "Contact Us", static_pages_contact_path %>  

    </div>
  <p><h2><p>&copy; Daniel Mayle 2015</p><h2></p>
</footer>
</div>
</body>
</html>
